body{
    background-image: url(./Assests/UX-HTML-CSS/small-background.jpg);
    background-size:cover;
}
h3{
    align-items: center;
}



.border-boxCreateNewSong{
    padding-left: 32px;
    
}

.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: #98A297;
    margin: 1em;
    margin-top: 10%;
    padding: 1em;
}