body{
    background-image: url(./Assests/UX-HTML-CSS/small-background.jpg);
    background-size:cover;
}



.border-boxCreateNewSong{
    padding-left: 32px;
    
}

.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 1em;
    padding: 1em;
}